*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.head1{
	margin-top: 45px;	font-family: Helvetica;
	text-transform: capitalize;
	font-size: 45px;
	font-weight: 500;
	margin-bottom: 0px;
	
}

.head2{
	margin-top: 20px;
	margin-right: 30px; 
	padding: 0px 0px 10px 0px;
	font-family: "Raleway",sans-serif;
	text-transform: capitalize;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 200;
	color: grey;

}

.f{
	color: grey;
	font-size: 25px;
	cursor: pointer;
}

ul {
list-style: none;
}

ul li::before {
		
	margin-bottom: 10px;
  content: "\2713";
  color: green; 
  display: inline-block; 
  width: 1em; 
}


.secondUp{
	width: 100%;
	height: auto;
}


.pic{
		cursor: pointer;
	text-align: right;
	margin-left: 50px;
	width: 430px;
	height: 430px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	float: left;
}

.pic:hover{
	box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
	transform: scale(1.05, 1.05);
}




.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}


.button:hover {
  background-color: white;
  color: green;
}

@media(max-width: 768px){
	.pic{
		float: none;
		margin: 2%;
		width: 90%;
	}
}

@media(max-width: 768px){
	.head1,.head2{
		float: none;
		width: 90%;
	}
}


