*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.fd{
	float: left;
	border-style: ridge;
	border: 1px solid grey;
	box-sizing: border-box;
	margin-left: 3%;
	margin-top: 4%;
	width: 200px;
	height: 200px;
}

.texx{
	text-align:center;
	font-size: 25px;
}

hr{
	position: relative;
	left: 30px;
	width: 95%;
	border-top: 1px ridge grey;
}


.jjj{
	width: 70%;
	height: 70%;
	display: block;
	  margin-left: auto;
  margin-right: auto;
}






.hee{
	position: relative;
	font-size: 50px;
	left: 27px;
	align: center;
	color: #03234B;
}

.d1{
	text-align: center;
	color: grey;
}

.bl{
	margin-top: 2%;
	border-style: ridge;
	border-width: 0.5px;
	border-color: grey;
	margin-left: 3%;
	margin-bottom: 4%;
	float: left;
}

.hhh{
	position: relative;
	top: 25px;
	right: 130px;
	float: right;
	font-size: 50px;
	color: blue;
}

.tex{
	position: relative;
	top: 80px;
	left: 15px;
	font-size: 20px;
	float: right;
}


.d1{
	font-size: 20px;
}

@media(max-width: 500px){
	.three{
		float: none;
		margin: 5%;
		width: 90%;
	}
}